.login-button-wrapper {
    cursor: pointer;

    .inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 125px;

        .text {
            font-size: 24px;
        }

        .trigger-button {
            width: 30px;

            svg {
                fill: white;
            }
        }
    }
}