.products-wrapper {
    height: 100%; 
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
    }

    .page-pagination-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}