.section-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  background-color: #282828;
  padding: 30px 55px;
  height: 300px;
  width: 100%;
}
.footer-wrapper .social-media-section {
  height: 40%;
}
.footer-wrapper .social-media-section .title {
  font-size: 23px;
}
.footer-wrapper .social-media-section .images {
  cursor: pointer;
}
.footer-wrapper .social-media-section .images svg {
  margin: 5px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 100%;
  background-color: #DD525C;
  fill: white;
}
.footer-wrapper .promotion-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-wrapper .promotion-section .subscription {
  height: 40%;
}
.footer-wrapper .promotion-section .subscription .input-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .promotion-section .subscription .input-section input {
  width: 73%;
  border-radius: 30px;
  padding: 10px;
}
.footer-wrapper .promotion-section .subscription .input-section .btn.btn-primary {
  border-radius: 50px;
  background-color: #DD525C;
  border: none;
}
.footer-wrapper .promotion-section .subscription .input-section .btn.btn-primary:focus {
  outline: none;
}
.footer-wrapper .promotion-section .title {
  font-size: 23px;
}
.footer-wrapper .promotion-section .support-payments {
  height: 40%;
}
.footer-wrapper .promotion-section .support-payments .images {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer-wrapper .promotion-section .support-payments .images svg {
  background-color: white;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 5px;
  width: 66px;
  height: 42px;
}